.navigation{
    position: fixed;
    bottom: 0;
    height: 100px;
width: 100vw;
    background: #222232;

display: flex;
align-items: center;
}
.navigation__Links{
    display: flex;
    width: 100%;
    justify-content: space-around;
}